# Tests run

- **Requirements covered:** R5
- **Preconditions:**
  1. have a Test suit

## Basic Flow

1. Run the given tests
2. Collect results and traces

## Alternative Flows

1. a. The test running crashes, System ends gracefully with an error message. 

## Postconditions

1. The resilts and traces serialized objects